<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuickProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <QuickProject.Properties.Settings>
            <setting name="dMaxDepAmount" serializeAs="String">
                <value>10000000</value>
            </setting>
            <setting name="dMinDepAmount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="dMaxTransferAmount" serializeAs="String">
                <value>10000000</value>
            </setting>
            <setting name="dMinTransferAmount" serializeAs="String">
                <value>0.01</value>
            </setting>
        </QuickProject.Properties.Settings>
    </applicationSettings>
</configuration>